<% provide(:title, 'Dashboard') %> 
<div class="background-pic2">
</div>

<div class="jumbotron">
      <div class="container">
        <div class="row row-eq-height" id="row-eq-height">
          <div class="col-md-3 col-sm-3 col-xs-12">
            <div class="row">
                <div class="col-md-12 wider">
                    <div class="thumbnail dashgrid panel-tabs">
					   <div class="tabs-heading">
                            <div class="col-xs-6">
								<a href="#" class="activeo" id="overall-link">Overall</a>
							</div>
							<div class="col-xs-6">
								<a href="#" id="recent-link">Recent</a>
							</div>
                        </div>
                    </div>
                </div>
            <div id="overall-form" style="display: block;">
                <div class="col-md-12 wider">
                    <div class="thumbnail dashgrid"> 
                        <div class="col-xs-5 col5o">FTA</div>
                        <div class="col-xs-7 col7"><%= @user.practices.sum(:makeft) %>/<%= @user.practices.sum(:totalft) %></div>
                    </div>
                </div>
                <div class="col-md-12 wider">
                    <div class="thumbnail dashgrid">
                        <div class="col-xs-5 col5o">FT%</div>
                        <div class="col-xs-7 col7"><%= @user.practices.average(:percentageft).round %>%</div>
                    </div>
                </div>
                <div class="col-md-12 wider">
                    <div class="thumbnail dashgrid">
                        <div class="col-xs-5 col5o">FGA</div>
                        <div class="col-xs-7 col7"><%= @user.practices.sum(:makejs) %>/<%= @user.practices.sum(:totaljs) %></div>
                    </div>
                </div>
                <div class="col-md-12 wider">
                    <div class="thumbnail dashgrid lastly" id="lastrow">
                        <div class="col-xs-5 col5o">FG%</div>
                        <div class="col-xs-7 col7"><%= @user.practices.average(:percentagejs).round %>%</div>
                    </div>
                </div>
            </div>
            <div id="recent-form" style="display: none;">
                <div class="col-md-12 wider">
                    <div class="thumbnail dashgrid">
                        <div class="col-xs-5 col5r">FTA</div>
                        <div class="col-xs-7 col7"><%= @user.practices.order("created_at ASC").last.makeft %>/<%= @user.practices.order("created_at ASC").last.totalft %></div>
                    </div>
                </div>
                <div class="col-md-12 wider">
                    <div class="thumbnail dashgrid">
                        <div class="col-xs-5 col5r">FT%</div>
                        <div class="col-xs-7 col7"><%= @user.practices.order("created_at ASC").last.percentageft.round %>%</div>
                    </div>
                </div>
                <div class="col-md-12 wider">
                    <div class="thumbnail dashgrid">
                        <div class="col-xs-5 col5r">FGA</div>
                        <div class="col-xs-7 col7"><%= @user.practices.order("created_at ASC").last.makejs %>/<%= @user.practices.order("created_at ASC").last.totaljs %></div>
                    </div>
                </div>
                <div class="col-md-12 wider">
                    <div class="thumbnail dashgrid lastly" id="lastrow">
                        <div class="col-xs-5 col5r">FG%</div>
                        <div class="col-xs-7 col7"><%= @user.practices.order("created_at ASC").last.percentagejs.round %>%</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
        <div class="col-md-9 col-sm-9 col-xs-12 pads" id="pads">
                <div class="col-md-12 graph1">          
                    <canvas id="buyers" width="100" height="100"></canvas>
                </div>
        </div>
    </div>
</div>
</div>
  