<%= form_for(@practice) do |f| %>
<div style="display:none;">
<div>
    <%= f.hidden_field :makeft %>
</div>
<div>
    <%= f.hidden_field :totalft %>
</div>
<div>
    <%= f.hidden_field :percentageft %>
</div>
<div>
    <%= f.hidden_field :makejs %>
</div>
<div>
    <%= f.hidden_field :totaljs %>
</div>
<div>
    <%= f.hidden_field :percentagejs %>
</div>
</div>

<%= button_tag(:class => "btn btnsave", :id => "button5") do %>            
<i id="icon3"></i><br>Save 
<% end %>

<% end %>

