<% provide(:title, "Contact") %> 
<div class="background-pic7">
</div>
<div class="container fitme">
    <div class="row">
        <div class="col-md-7 contact">
        <h1>About Me</h1>
            
            <p><%= image_tag("aboutme.png", id: "aboutme") %>I recently quit my job and the American dream to pursue the projects that I am passionate about. MyHoopStats is a reflection of that passion. In the past three months I have learned how to program a Ruby on Rails web application and I hope it will prove useful.</p>
            <p>I love the game of basketball.  In order to improve my free throw percentage I would should 50 free throws a day, remember how many I made then when I got to a computer I would enter it into an excel spreadsheet. MyHoopStats is the answer to my terribly inefficient process. MyHoopStats provides a way to simply track your progress and set goals towards your progress. I hope that it can be of use to anyone else who uses it.</p>
            <p>I plan to continually update the app to make it better.  Any feedback that you could think of would be of amazing help. Lets build this app together!</p>
        </div>
  
        <div class="col-md-5 contact1">
          <h1>Contact</h1>
                <i class="fa fa-envelope fa-inverse fa-5x"></i>
            <br>
          <a href="myhoopstats@gmail.com">myhoopstats@gmail.com</a>
        </div>
        <div class="col-md-12 ">
        <footer class="footer foter">
  <small>
    <%= link_to "MyHoopStats", root_url %>
  </small>
  <nav>
    <ul>
      <li><%= link_to "Terms of Service",  terms_path %></li>
      <li><%= link_to "Cookie Policy",   cookie_path %></li>
      <li><%= link_to "Privacy Policy", privacy_path %></li>
    </ul>
  </nav>
</footer>
        </div>
    </div>
</div>

